absl-py==0.12.0
accelerate==0.9.0
affine==2.3.1
alembic==1.4.1
argon2-cffi==20.1.0
ase==3.20.1
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
autoreload==0.1.2
azure-core==1.9.0
azure-storage-blob==12.6.0
backcall==0.2.0
bayesian-optimization==1.2.0
bleach==3.3.0
blobfile==0.11.0
branca==0.5.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
charset-normalizer==2.0.12
clang==5.0
click==7.1.2
click-plugins==1.1.1
cliff==3.5.0
cligj==0.7.2
cloudpickle==1.6.0
cmaes==0.7.0
cmd2==1.4.0
colorama==0.4.4
colorlog==4.6.2
contextily==1.1.0
CRPS==2.0.4
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.24
databricks-cli==0.14.1
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
dm-tree==0.1.7
docker==4.4.0
einops==0.4.1
ema-pytorch==0.0.10
entrypoints==0.3
et-xmlfile==1.1.0
eviltransform==0.1.1
filelock==3.0.12
Fiona==1.8.21
Flask==1.1.2
flatbuffers==1.12
folium==0.12.1.post1
future==0.18.2
gast==0.4.0
geographiclib==1.50
geojson==2.5.0
geopandas==0.9.0
geopy==2.1.0
gitdb==4.0.5
GitPython==3.1.11
gluonts==0.11.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
googledrivedownloader==0.4
GPUtil==1.4.0
graphviz==0.8.4
grpcio==1.41.1
gunicorn==20.0.4
gym==0.18.3
h3==3.7.4
h5py==3.1.0
hawkes==1.0.0
hmmlearn==0.2.6
hsmmlearn==0.1.0
idna==2.10
igraph==0.9.11
importlib-metadata==3.1.1
importlib-resources==5.4.0
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keplergl==0.3.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.35.0
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
mercantile==1.2.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.12.1
mpmath==1.2.1
msrest==0.6.19
munch==2.5.0
mxnet==1.9.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
notebook==6.4.0
numba==0.52.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
oauthlib==3.1.0
opencv-python==4.5.5.62
openpyxl==3.0.7
opt-einsum==3.3.0
optuna==2.3.0
packaging==20.7
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
patsy==0.5.2
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
plotly==5.11.0
powerlaw==1.5
prettytable==0.7.2
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.19.4
psutil==5.8.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.16.0
pydantic==1.9.2
pydicom==2.3.1
pyglet==1.5.15
Pygments==2.7.3
pymongo==4.0.1
pyparsing==2.4.7
pyperclip==1.8.1
pyproj==3.0.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
python-igraph==0.9.11
python-louvain==0.14
pytz==2020.4
PyYAML==5.3.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
querystring-parser==1.2.4
rasterio==1.2.10
rdflib==5.0.0
regex==2021.4.4
requests==2.27.1
requests-oauthlib==1.3.0
reverse-geocoder==1.5.1
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
setproctitle @ file:///home/fib/downloads/setproctitle-1.1.10.tar.gz
Shapely==1.8.2
six @ file:///tmp/build/80754af9/six_1605205335545/work
skmob==1.3
smmap==3.0.4
snuggs==1.4.7
SQLAlchemy==1.3.20
sqlparse==0.4.1
stable-baselines3==1.0
statsmodels==0.12.2
stevedore==3.3.0
tabulate==0.8.7
tenacity==8.1.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-datasets==4.5.2
tensorflow-estimator==2.6.0
tensorflow-metadata==1.2.0
tensorflow-privacy==0.7.3
tensorflow-probability==0.17.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
texttable==1.6.4
Theano==1.0.5
threadpoolctl==2.1.0
tikzplotlib==0.9.13
tokenizers==0.10.2
toolz==0.12.0
torch @ file:///home/hanzhenyu/torch-1.7.1%2Bcu101-cp36-cp36m-linux_x86_64.whl
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio @ file:///home/hanzhenyu/torchaudio-0.7.2-cp36-cp36m-linux_x86_64.whl
torchdiffeq==0.0.1
torchtext==0.8.0
torchvision @ file:///home/hanzhenyu/torchvision-0.8.2%2Bcu101-cp36-cp36m-linux_x86_64.whl
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
traittypes==0.2.1
transformers==4.5.1
typing-extensions==3.7.4.3
urllib3==1.26.2
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
xmltodict==0.12.0
zipp==3.4.0
